<div class="box">
	<h1><center>Tarea 3 de Benjamin Regonesi</center></h1>

	<div id="map" style="width:100%; height:100%;"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCz_Wjb3L5lz-OcKNVlYZgILZN5fS1bL9Y&libraries=geometry"></script>

<script>
	var include_destination = true;  // cuando pincho en un aeropuerto solo muestro solo ida o incluyo la vuelta?
	var map;
	var bounds;
	var last_infowindow;
	var selected_airport;  // nos dice que aeropuerto esta seleccionado
	var aerplanes_map = new Object();
	var paths_map = new Array();
	var partial_paths_map = new Object();

	function initialize() {
	  map = new google.maps.Map(document.getElementById("map"), { streetViewControl: false });
	  bounds = new google.maps.LatLngBounds();
	}

	function addMarker(location, title="", info="", airport="") {
	  var marker = new google.maps.Marker({
	    position: location,
	    title: title,
	    map: map,
	    animation: google.maps.Animation.DROP
	  });

	  marker.addListener('click', function(e) {
	  	cleanPaths();
	  	cleanPartialPaths();
	  	cleanAirplanes();
	  	toggleRoutesFrom(airport);
	  	selected_airport = airport;
		});

	  bounds.extend(marker.position);
	  map.fitBounds(bounds);

	  if(info != "") {
			var infowindow = new google.maps.InfoWindow({
				content: info
			});

			marker.addListener('click', function() {
				if(last_infowindow) {
					last_infowindow.close();
				}

				infowindow.open(map, marker);
				last_infowindow = infowindow;
			});
		}
	}

	function addAirplane(code) {
		var positions_array = positions[code];
		if(typeof positions_array != "undefined" && positions_array.length > 0) {
			var flight = flights[code];

			var hacia;
			var desde;

			if(positions_array.length >= 2) {
				hacia = new google.maps.LatLng(positions_array[positions_array.length - 1].lat, positions_array[positions_array.length - 1].lng);
				desde = new google.maps.LatLng(positions_array[positions_array.length - 2].lat, positions_array[positions_array.length - 2].lng);
			} else {
				hacia = new google.maps.LatLng(airports[flight["destination"]]["position"][0], airports[flight["destination"]]["position"][1]);
				desde = new google.maps.LatLng(positions_array[positions_array.length - 1].lat, positions_array[positions_array.length - 1].lng);
			}
			var rotation = google.maps.geometry.spherical.computeHeading(desde, hacia);  // previous point, end point

			if(typeof aerplanes_map[code] == "undefined") {  // si no esta
				var image = {
					path: 'M362.985,430.724l-10.248,51.234l62.332,57.969l-3.293,26.145 l-71.345-23.599l-2.001,13.069l-2.057-13.529l-71.278,22.928l-5.762-23.984l64.097-59.271l-8.913-51.359l0.858-114.43 l-21.945-11.338l-189.358,88.76l-1.18-32.262l213.344-180.08l0.875-107.436l7.973-32.005l7.642-12.054l7.377-3.958l9.238,3.65 l6.367,14.925l7.369,30.363v106.375l211.592,182.082l-1.496,32.247l-188.479-90.61l-21.616,10.087l-0.094,115.684',
					scale: 0.0333,
					strokeOpacity: 1,
					color: 'black',
					strokeWeight: 1,
					rotation: rotation,
					anchor: new google.maps.Point(400, 400)
				}

				var marker = new google.maps.Marker({
					position: positions_array[positions_array.length - 1],
					title: code,
					map: map,
					icon: image
				});

				var infowindow = new google.maps.InfoWindow({
					content: code + "<br/>" + flight["plane"] + "<br/>" + flight["seats"] + " asientos<br/>Aerolinea: "
					+ flight["airline"] + "<br/>Posicion: " + positions_array[positions_array.length - 1].lat.toFixed(4) + ", "
					+ positions_array[positions_array.length - 1].lng.toFixed(4)
				});

				marker.addListener('click', function() {
					if(last_infowindow) {
						last_infowindow.close();
					}

					infowindow.open(map, marker);
					last_infowindow = infowindow;
				});

				aerplanes_map[code] = [marker, image];
			} else {  // si ya esta
				aerplanes_map[code][0].setPosition(positions_array[positions_array.length - 1]);
				aerplanes_map[code][1].rotation = rotation;
				aerplanes_map[code][0].setIcon(aerplanes_map[code][1]);
			}
		}
	}

	function cleanAirplanes() {
		Object.keys(aerplanes_map).forEach(function(key, index) {
			var element = aerplanes_map[key][0];
			element.setMap(null);
			delete aerplanes_map[key];
		});
	}

	function toggleRoutesFrom(airport) {
		Object.keys(flights).forEach(function(key, index) {
			var element = flights[key];
			if(element["origin"] == airport || (include_destination && element["destination"] == airport)) {
				var points = new Array();

				points.push({lat: airports[element["origin"]]["position"][0], lng: airports[element["origin"]]["position"][1]});
				points.push({lat: airports[element["destination"]]["position"][0], lng: airports[element["destination"]]["position"][1]});
				addPath(points, "#000");
				addPartialPath(key);
				addAirplane(key);
			}
		});
	}

	function addPath(points, color) {
		var flightPath = new google.maps.Polyline({
			path: points,
			geodesic: true,
			strokeColor: color,
			strokeOpacity: 1.0,
			strokeWeight: 2
		});

		flightPath.setMap(map);
		paths_map.push(flightPath);
	}

	function cleanPaths() {
		while(element = paths_map.pop()) {
			element.setMap(null);
		}
	}

	function addPartialPath(airplane) {
		var flightPath = new google.maps.Polyline({
			path: positions[airplane] || [],
			geodesic: true,
			strokeColor: "#F00",
			strokeOpacity: 1.0,
			strokeWeight: 2
		});

		flightPath.setMap(map);
		partial_paths_map[airplane] = flightPath;
	}

	function extendPartialPath(airplane, location) {
		var myLatLng = new google.maps.LatLng(location.lat, location.lng);
		var paths = partial_paths_map[airplane].getPath();
		paths.push(myLatLng);
	}

	function cleanPartialPaths() {
		Object.keys(partial_paths_map).forEach(function(key, index) {
			var element = partial_paths_map[key];
			element.setMap(null);
			delete partial_paths_map[key];
		});
	}

	google.maps.event.addDomListener(window, 'load', initialize);
</script>


<script type="text/javascript">
	var socket = io('wss://integracion-tarea-3.herokuapp.com', { path: '/flights' });
	var airports = new Object();  // diccionario donde guardamos los aeropuertos
	var flights = new Object();  // diccionario donde guardamos los flights
	var positions = new Object();  // diccionario donde guardamos las positions
	var flights_add = new Object();
	var positions_add = new Array();
	
	socket.emit('AIRPORTS');
	socket.emit('FLIGHTS');

	socket.on('AIRPORTS', function (data) {
		console.log("Evento de airports");
		// console.log(data);

		Object.keys(data).forEach(function(key, index) {
			if(typeof airports[key] == "undefined") {
				var element = data[key];

				airports[key] = {"name": element["name"], "city": element["city"], "country": element["country"],
												 "country_code": element["country_code"], "position": element["airport_position"]}
				console.log(element);


				var location = new google.maps.LatLng(element["airport_position"][0], element["airport_position"][1]);
				var info = element["name"] + " (" + key + ")<br/>" + element["city"] + ", " + element["country"] + " (" + element["country_code"] + ")";
				addMarker(location, element["name"], info, key);  // agregamos en el mapa
			}
		});

		addFlights();
	});

	socket.on('FLIGHTS', function (data) {
		console.log("Evento de flights");

		data.forEach(function(element) {
			if(typeof flights_add[element["code"]] != "undefined") {  // quizas algo fallo y no se agrego
				console.log("Volvemos a ejecutar add flights");

				addFlights();  // volvemos a intentar
			}

			if(typeof flights[element["code"]] == "undefined" && typeof flights_add[element["code"]] == "undefined") {
				console.log("Agregando nuevo flight");
				console.log(element);

				var airport_origen = element["origin"]["airport_code"];
				var airport_destino = element["destination"]["airport_code"];

				var flight = {"airline": element["airline"], "origin": airport_origen, "destination": airport_destino,
											"plane": element["plane"], "seats": element["seats"]};

				flights_add[element["code"]] = flight;
				addFlights();
			}
		});
	});

	socket.on('POSITION', function (data) {
		console.log("Evento de position");

		positions_add.push(data);
		addPositions();
	});
	/* End del socket (receive) */


	/* Funciones para iterar */
	function addFlights() {
		console.log("Funcion de add flights");

		Object.keys(flights_add).forEach(function(key, index) {
			var element = flights_add[key];

			console.log("key: " + key + " origin: " + element);

			if(typeof airports[element["origin"]] == "undefined" || typeof airports[element["destination"]] == "undefined") {  // si no estan los airports mandamos solicitud
				socket.emit('AIRPORTS');
			} else {
				console.log("Agregando flight");

				flights[key] = element;
				// agregamos en el mapa
				delete flights_add[key];  // con esto eliminamos

				addPositions();  // volvemos a agregar las posiciones pendientes
			}
		});
	}

	function addPositions() {
		console.log("Funcion de add positions");

		positions_add.forEach(function(element, index, object) {
			console.log(element);

			if(typeof flights[element["code"]] == "undefined") {
				socket.emit('FLIGHTS');
			} else {
				if(typeof positions[element["code"]] == "undefined") {
					positions[element["code"]] = new Array();  // guardaremos las posiciones
				}

				var position = {lat: element["position"][0], lng: element["position"][1]}
				positions[element["code"]].push(position);

				// agregamos en el mapa
				if(selected_airport == flights[element["code"]]["origin"] || (include_destination && selected_airport == flights[element["code"]]["destination"])) {
					extendPartialPath(element["code"], position);
					addAirplane(element["code"]);
				}

				object.splice(index, 1);  // con esto eliminamos
			}
		});
	}
</script>
